@import "./variables.scss";

#about {
    display: grid;
    min-height: 100vh;
    height: 100vh;
    box-sizing: border-box;
    grid-template-columns: repeat(2, 1fr);
    margin: 5em 0 5em 15rem;
    align-items: center;

    .about-content-wrapper {
        grid-column: 1 / 1;
    }

    .about-worked-with-chip {
        margin: 0 10px 15px 0;
    }

}

@media (max-width: 1024px) {
    #about {
        grid-template-columns: 1fr;
        margin: 0 30px;
    }
}