@import "./variables.scss";

#about {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 15rem;
    align-items: center;

    h1 {
        font-weight: lighter;
    }

    .about-content-wrapper {
        grid-column: 1 / 1;
    }

    .about-worked-with-chip {
        margin-bottom: 15px;
    }

}

@media (max-width: 1024px) {
    #about {
        grid-template-columns: 1fr;
        padding: 0 30px;
    }
}