@import "./variables.scss";

#credits {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    margin: 500px 0 500px 15rem;
    align-items: center;

    .credits-content-wrapper {
        grid-column: 1 / 1;
    }

    .credits-comment {
        color: #383838;
        font-size: 1.2em;
        font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    }

}

@media (max-width: 1024px) {
    #credits {
        grid-template-columns: 1fr;
        margin: 500px 30px;
    }
}