@import "./variables.scss";

#credits {
    display: grid;
    min-height: 100vh;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    margin: 5em 0 5em 15rem;
    align-items: center;
    box-sizing: border-box;

    .credits-content-wrapper {
        grid-column: 1 / 1;
    }

    .credits-comment {
        color: #383838;
        font-size: 1em;
        font-family: $codefont;
    }

}

@media (max-width: 1024px) {
    #credits {
        grid-template-columns: 1fr;
        margin: 500px 30px;
    }
}