header {
    display: flex;
    flex-flow: row nowrap;
    position: fixed;
    width: 100%;
    z-index: 1;

    .brand-icon-wrapper {
        justify-self: start;
        flex: 1 0 50%;
    }

    .desktop-navigation {
        justify-self: end;
        flex: 0 0 150px;
    }

}