@import "./variables.scss";

.desktop-navigation {

    padding: 4em 8em;
    text-align: right;

    .active {
        background-color: #FFF;
        color: #333;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        line-height: 2em;
        margin-right: 1em;
    }

    a {
        text-decoration: none;
        cursor: pointer;
        position: relative;
        padding: 5px;
        color: $textcolor;
        font-size: 1em;
        font-family: $codefont;
    }

}

@media (max-width: 1024px) {
    .desktop-navigation {
        display: none;
    }
}