@import "./variables.scss";

.desktop-navigation {

    padding: 25px 25px 0 0;

    .active {
        background-color: #FFF;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
    }

    li::after {
        content: "\00a0";
        display: inline-block;
    }

    a {
        text-decoration: none;
        cursor: pointer;
        color: $textcolor;
    }

}

@media (max-width: 1024px) {
    .desktop-navigation {
        display: none;
    }
}