@import "./variables.scss";

#intro {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 15rem;
    align-items: center;

    .intro-header {
        margin: 0;
    }

    .intro-subtitle {
        margin-bottom: 0;
        
    }

    h1, h2, p {
        display: block;
    }

    .intro-content-wrapper {
        grid-column: 1 / 1;
    }

    .intro-social-media-links {
        margin: 3rem 0 1rem 0;
    }

    .intro-social-media-link {
        color: #FFF;
        padding: 1rem;
        position: relative;
        display: inline-block;
        overflow: hidden;

        > svg {
            transition: transform 0.3s;
        }

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            left:0;
            transition: bottom 0.2s, color 0.2s;
            height: 100%;
            bottom: CALC(100% + 1rem);
            z-index: -1;
            background-color: #FFF;
        }

        &:hover {

            > svg {
                color: #333;
                position: relative;
                //transform: scale(1.2);
            }

            &::before {
                bottom: 0;
            }

        }
    }

}

@media (max-width: 1024px) {
    #intro {
        grid-template-columns: 1fr;
        margin-left: 0;
        text-align: center;
    }
}