@import "./variables.scss";

#intro {
    height: 100vh;
    display: flex;
    padding-left: 15rem;
    background-color: $bgcolor;
    align-items: center;

    .intro-header {
        font-weight: lighter;
        margin: 0;
    }

    .intro-subtitle {
        margin-bottom: 0;
    }

    h1, h2, p {
        display: block;
    }

    .intro-content-wrapper {
        max-width: 25%;
    }

    .intro-social-media-links {
        margin: 3rem 0 1rem 0;
    }

    .intro-social-media-link > svg {
        color: #FFF;
        padding: 1rem;

        &:hover {
            background-color: #FFF;
            color: #333;
        }
    }

}