$bgcolor: rgb(22, 22, 22);
$bggradient: linear-gradient(45deg, black, transparent);
$textcolor: rgb(231, 231, 231);
$codefont: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;