#work {
    min-height: 100vh;
    margin: 500px 15rem;
    align-items: center;
    display: grid;

    h1 {
        font-weight: lighter;
        opacity: 0.2;
    }

    .works-container {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-auto-rows: 1fr;
        gap: 3em;
    
    
        .github-repository {
            padding: 3em;
            border: 1px solid #202020;
            border-radius: 10px;
            height: 100%;
            box-sizing: border-box;
            word-break: break-word;
            transition: background-color 0.2s, transform 0.2s;

            
            &:hover {
                background-color: #FFF;

                transform: translateY(1em);

                .work-title, .work-description, .work-topic {
                    color: #000;
                }
            }
            
            .work-title, .work-description {
                color: #FFF;
                text-decoration: none;
            }

            .work-title {
                font-size: 2em;
                margin: 0 0 2em 0;
            }

            .work-description {
                font-size: 1em;
            }

            .work-topic {
                font-weight: bold;
                display: inline-block;
                color: #FFF;
                transition: transform 0.2s;
                &::after {
                    content: "\00a0";
                }
                &:hover {
    
                    background-color: #333;
                    color: #FFF;
                }
            }

        
        }
    }

}

@media (max-width: 1600px) {
    #work {
        margin: 500px 30px;
    }
    
    #work .works-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 768px) {
    #work .works-container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-auto-rows: auto;
    }
}