@import "./styles/variables.scss";

html,
body {
    overflow-x: hidden;
    position: relative;
}

body {
    color: $textcolor;
    background-color: $bgcolor;
    background-image: $bggradient;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5 {
    font-weight: lighter;
}

h1 {
    font-size: 4rem;
}

.section-padding {
    padding: 75px 0;
}

.section-header-font-size {
    font-size: 4rem;
}

.section-header-lighter {
    font-weight: lighter;
}

.section-header-translucent {
    opacity: 0.1;
}


.is-visible {
    animation-name: moveup;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

@keyframes moveup {
    from {
        transform: translateY(10vh);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


